<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>About Me</title>
  </head>
  <body>
    <header class="header">
      <a href="#" >
        <img src="/img/alejandras-food-blog-beige.png" class="logo" alt="logo">
      </a>
      <i class='bx bx-menu' id="menu-icon"></i>
      <nav class="navbar" id="nav-ul">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#meats">Meats</a>
        <a href="#vegetables">Vegetables</a>
        <a href="#recipes">Recipes</a>
        <a href="#world-cuisines">Cuisines</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size:50px">About Me</h1>
      </div>
    </div>
    <section class="timeline" id="recipes-div">
      <div class="timeline-row">
        <div class="timeline-column">
          <h2 class="title">
            About<span class="animate" style="--i: 1"></span>
          </h2>
          <div class="timeline-box">
            <% for( let index = 0; index < allAbout.length; index++ ) { %> <%
            let about = allAbout[index] %>
            <div class="timeline-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2021 - 2022
                </div>
                <h2>Hi there, I'm <%= about.name %></h2>
                <p>From <%= about.city %></p>
                <img src="<%= about.img %>" alt="">
                <p>My Favorite Food is <%= about.favoriteFood %></p>
                <p>My favorite drink is <%= about.favoriteDrink %></p>
                <p>
                  <%= about.bio %>
                </p>
                <a href="/about/<%= index %>">Checkout more...</a>
              </div>
            </div>
            <div></div>
          
            <% } %>
           
        
          <div class="timeline-row" id="favorite-recipes">
            <% for( let index = 0; index < allRecipes.length; index++ ) { %> <%
                let recipe = allRecipes[index] %>
            <div class="timeline-column">
              <h2 class="title">
                Favorite <span class="animate" style="--i: 1">Recipes</span>
              </h2>
              <div class="timeline-box">
               
                <div class="timeline-content">
                  <div class="content">
                    <div class="year">
                      <i class="bx bxs-calendar"></i>2021 - 2022
                    </div>
                    <h3><%= recipe.name %></h3>
                    <img src="<%= recipe.img %>" alt="">
                    <p><%= recipe.preparationTime %></p>
                    <p>
                      <%= recipe.instructions %>
                    </p>
                    <a href="/recipe/<%= index %>">Checkout more...</a>
                  </div>
                </div>
                <% } %>
                
            <span class="animate" style="--i: 2"></span>
          
        <!-- More recipes code goes here---->
        <div class="timeline-column">
          <h2 class="title">
            More Recipes<span class="animate" style="--i: 1"></span>
          </h2>
          <div class="timeline-box">
            <% for( let index = 0; index < allRecipes.length; index++ ) { %> <%
            let recipe = allRecipes[index] %>
            <div class="timeline-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2021 - 2022
                </div>
                <h3><%= recipe.name %></h3>
                <img src="<%= recipe.img %>" alt="">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                  voluptate natus consectetur suscipit aspernatur quos obcaecati
                  dolore veniam debitis omnis.
                </p>
                <a href="/recipes/<%= index %>">Checkout more...</a>
              </div>
            </div>
            <div></div>
            <% } %>

            <span class="animate" style="--i: 2"></span>
          </div>
        </div>
      </div>
    </section>
    <div class="card">
      <h3>Follow Me</h3>
      <div class="social-media" style="background-color: #c5fff8;">
        <a href="https://github.com/AlejandraValdivia"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/alejandra-valdivia-developer/"><i class='bx bxl-linkedin'></i></a> 
        <a href="https://codesandbox.io/dashboard/recent?workspace=2153d854-f3bb-4bc0-a5da-82d1787407a7"><i class='bx bx-square' ></i></a>
        <a href="https://linktr.ee/alexandra_web_dev"><i class='bx bxl-instagram'></i></a>
      </div>
    </div>
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <!-- custom js -->
    <script src="./js/app.js"></script>
  </body>
</html>
